body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

#stage {
    width: 960px;
    height: 640px;
    position: relative;
    overflow: hidden;
    background-color: darkslategray;
}

div#scrolling-background {
    position: absolute;
    inset: 0;
}

div#scrolling-background div#repeating-scroll {
    background-image: url("assets/images/infinite-scroll.png");
    width: 960px;
    height: 1000px;
    transform-origin: 0 0 0;
    transform: matrix3d(0.166667, 0, 0, 0,
    -0.8, 0.166667, 0, -0.001667,
    0, 0, 1, 0,
    400, 0, 0, 1);
    animation: 5s linear infinite infinite-scroll;
}

@keyframes infinite-scroll {
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 500px;
    }
}

div#menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
}

div#menu button {
    appearance: none;
    border: none;
    width: 64px;
    height: 64px;
    background-image: url("./assets/images/tilesheet.png");
    background-position-x: calc(38 * -64px);
    background-position-y: calc(12 * -64px);
    background-color: transparent;
}

div#menu button:hover {
    background-position-x: calc(38 * -64px);
    background-position-y: calc(12 * -64px);
}

div#stage #game-layer {
    position: absolute;
    transform: translate3d(0,0,0);
}